*.py[cod]
__pycache__/
what is python programming ?
python is using for web , application apps s, software & more .
this programing language is part of top 30 programing language .
parts ; django & flask . 
